apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  name: tcqo
spec:
  selector: {}
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
    spec:
      containers:
      - env:
        - name: POC
          value: POC
        image: quay.io/redhat-appstudio-qe/byoc-qxwv-tenant/byoc-app-xokx/tcqo@sha256:569c6b65e99ab2fc698241e0ed999e4d96a19e8a46aa64f4484ee145c1209b3f
        name: my-java-quarkus
        resources: {}
status: {}
