apiVersion: apps/v1
kind: Deployment
metadata:
  creationTimestamp: null
  labels:
    app.kubernetes.io/created-by: application-service
    app.kubernetes.io/instance: tcqo
    app.kubernetes.io/managed-by: kustomize
    app.kubernetes.io/name: tcqo
    app.kubernetes.io/part-of: byoc-app-xokx
  name: tcqo
spec:
  replicas: 1
  revisionHistoryLimit: 0
  selector:
    matchLabels:
      app: java-quarkus-app
      app.kubernetes.io/instance: tcqo
  strategy: {}
  template:
    metadata:
      creationTimestamp: null
      labels:
        app: java-quarkus-app
        app.kubernetes.io/instance: tcqo
    spec:
      containers:
      - image: quay.io/redhat-appstudio-qe/byoc-qxwv-tenant/byoc-app-xokx/tcqo@sha256:569c6b65e99ab2fc698241e0ed999e4d96a19e8a46aa64f4484ee145c1209b3f
        name: my-java-quarkus
        ports:
        - containerPort: 8081
          name: http
          protocol: TCP
        resources:
          requests:
            cpu: 10m
            memory: 100Mi
status: {}
